# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Firebase
firebase-admin-service-account.json

# Direnv
.envrc

# Intellij Idea
.idea/dictionaries
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.iml