# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Firebase
firebase-admin-service-account.json

# Direnv
.envrc

# Intellij Idea
.idea
*.iml

# Testing purpose
local.test.ts

# MacOS
.DS_Store
